certifi==2024.8.30
charset-normalizer==3.4.0
evdev==1.7.1
ffmpeg-python==0.2.0
future==1.0.0
idna==3.10
pillow==11.0.0
PyAudio==0.2.14
pynput==1.7.7
pyperclip==1.9.0
pystray==0.19.5
python-xlib==0.33
requests==2.32.3
six==1.16.0
urllib3==2.2.3
groq==0.11.0
deepgram-sdk==3.7.3
